@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat:500,600,700&display=swap");
@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
.body-header__logo, [class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-arrowDown:before {
  content: "\e900";
}

._icon-bond:before {
  content: "\e901";
}

._icon-card:before {
  content: "\e902";
}

._icon-cards:before {
  content: "\e903";
}

._icon-compare:before {
  content: "\e904";
}

._icon-favorite:before {
  content: "\e905";
}

._icon-footer-calendar:before {
  content: "\e906";
}

._icon-footer-phone:before {
  content: "\e907";
}

._icon-footer-email:before {
  content: "\e908";
}

._icon-location:before {
  content: "\e909";
}

._icon-logo:before, .body-header__logo:before {
  content: "\e90a";
}

._icon-Seach:before {
  content: "\e90b";
}

._icon-spolersArow:before {
  content: "\e90c";
}

._icon-user:before {
  content: "\e90d";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Montserrat";
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Montserrat";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  font-weight: 500;
}
.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 99.375rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}

.popup-show body::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}

.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__content {
  visibility: hidden;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  background-color: #eee;
  padding: 20px;
  width: 100%;
  max-width: 900px;
  border-radius: 20px;
}
.lock .popup__content {
  visibility: visible;
}

.spollers {
  display: grid;
  gap: 15px;
}

.spollers__item {
  font-size: 1.25rem;
}

.spollers__title {
  width: 100%;
  cursor: default;
  text-align: left;
  border: 1px solid #eee;
  padding: 0.625rem 0.9375rem;
  border-radius: 0.3125rem;
  position: relative;
}
._spoller-init .spollers__title {
  cursor: pointer;
  /*
  ._spoller-init & {
  	position: relative;
  	width: 100%;
  	text-align: left;
  	&::before,
  	&::after {
  		content: "";
  		position: absolute;
  		right: 0;
  		top: rem(12);
  		height: rem(1);
  		transition: all 0.3s ease 0s;
  		width: rem(10);
  		background-color: #000;
  	}
  	&::before {
  		transform: rotate(40deg);
  		right: rem(7);
  	}
  	&::after {
  		transform: rotate(-40deg);
  	}
  }
  &._spoller-active {
  	&::before {
  		transform: rotate(-40deg);
  	}
  	&::after {
  		transform: rotate(40deg);
  	}
  }
  */
}
._spoller-init .spollers__title::before, ._spoller-init .spollers__title::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  background-color: #000;
  height: 2px;
  width: 15px;
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  -o-transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}
._spoller-init .spollers__title::before {
  -webkit-transform: translate(-75%, -50%) rotate(40deg);
      -ms-transform: translate(-75%, -50%) rotate(40deg);
          transform: translate(-75%, -50%) rotate(40deg);
}
._spoller-init .spollers__title::after {
  -webkit-transform: translate(0, -50%) rotate(-40deg);
      -ms-transform: translate(0, -50%) rotate(-40deg);
          transform: translate(0, -50%) rotate(-40deg);
}
._spoller-init .spollers__title._spoller-active::before {
  -webkit-transform: translateX(-75%) rotate(-40deg);
      -ms-transform: translateX(-75%) rotate(-40deg);
          transform: translateX(-75%) rotate(-40deg);
}
._spoller-init .spollers__title._spoller-active::after {
  -webkit-transform: rotate(40deg);
      -ms-transform: rotate(40deg);
          transform: rotate(40deg);
}

.spollers__body {
  padding: 1.25rem;
  border-radius: 0.3125rem;
  border: 1px solid #eee;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.header__top {
  background-color: #141414;
  color: #fff;
}
.top-header {
  padding: 0.625rem 0;
}
.top-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
  min-height: 3.125rem;
}
.top-header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.top-header__user {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  line-height: 1.2222222222;
}
.top-header__user::before {
  font-size: 1.75rem;
  margin-right: 0.5357142857em;
}
@media (any-hover: hover) {
  .top-header__user:hover span {
    text-decoration: underline;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 5px;
}
@supports ((-moz-column-gap: clamp( 1.25rem , 0.6346153846rem  +  3.0769230769vw , 3.75rem )) or (column-gap: clamp( 1.25rem , 0.6346153846rem  +  3.0769230769vw , 3.75rem ))) {
  .menu__list {
    -webkit-column-gap: clamp( 1.25rem , 0.6346153846rem  +  3.0769230769vw , 3.75rem );
       -moz-column-gap: clamp( 1.25rem , 0.6346153846rem  +  3.0769230769vw , 3.75rem );
            column-gap: clamp( 1.25rem , 0.6346153846rem  +  3.0769230769vw , 3.75rem );
  }
}
@supports not ((-moz-column-gap: clamp( 1.25rem , 0.6346153846rem  +  3.0769230769vw , 3.75rem )) or (column-gap: clamp( 1.25rem , 0.6346153846rem  +  3.0769230769vw , 3.75rem ))) {
  .menu__list {
    -webkit-column-gap: calc(1.25rem + 2.5 * (100vw - 20rem) / 81.25);
       -moz-column-gap: calc(1.25rem + 2.5 * (100vw - 20rem) / 81.25);
            column-gap: calc(1.25rem + 2.5 * (100vw - 20rem) / 81.25);
  }
}
.menu__link {
  font-size: 1rem;
  line-height: 1.25;
}
@media (any-hover: hover) {
  .menu__link:hover {
    text-decoration: underline;
  }
}

.body-header {
  padding: 0.625rem 0;
  background-color: #ECF1F2;
}
.body-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 4.375rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.body-header__logo {
  font-size: 2.625rem;
  color: #141414;
}
.body-header__search {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding-right: 1.25rem;
}
@supports (padding-left: clamp( 1.25rem , -0.8730769231rem  +  10.6153846154vw , 9.875rem )) {
  .body-header__search {
    padding-left: clamp( 1.25rem , -0.8730769231rem  +  10.6153846154vw , 9.875rem );
  }
}
@supports not (padding-left: clamp( 1.25rem , -0.8730769231rem  +  10.6153846154vw , 9.875rem )) {
  .body-header__search {
    padding-left: calc(1.25rem + 8.625 * (100vw - 20rem) / 81.25);
  }
}

.search-header {
  max-width: 23.5625rem;
  background-color: rgba(7, 7, 7, 0.03);
  border-radius: 0.1875rem;
  position: relative;
  border: 1px solid rgba(4, 4, 4, 0.5);
}
.search-header__button {
  position: absolute;
  top: 0;
  left: 0.5rem;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 2.5625rem;
  width: 2.5625rem;
  font-size: 0.875rem;
  color: rgba(0, 0, 0, 0.5);
}
.search-header__input {
  width: 100%;
  background-color: transparent;
  border-radius: 0.1875rem;
  height: 2.5625rem;
  padding: 0px 1.25rem 0px 3.125rem;
  color: #000;
}
.search-header__input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}
.search-header__input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.5);
}
.search-header__input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}
.search-header__input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}
.search-header__input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.actions-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.875rem;
     -moz-column-gap: 1.875rem;
          column-gap: 1.875rem;
}
.actions-header__location {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  margin: 0px 1.5625rem 0px 0px;
}
.actions-header__location::before {
  font-size: 1.5rem;
  margin: 0px 0.4166666667em 0px 0px;
}
@media (any-hover: hover) {
  .actions-header__location:hover span {
    text-decoration: underline;
  }
}
.actions-header__favorite {
  font-size: 1.6875rem;
}
.actions-header__card {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.phones-header__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.phones-header__phone {
  font-weight: 600;
  white-space: nowrap;
  line-height: 1.2222222222;
}
.phones-header__arrow {
  color: #E8AA31;
  font-size: 0.625rem;
  margin: 0px 0px 0px 1.0625em;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}
.phones-header__arrow._spoller-active {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
.phones-header__list {
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  margin-top: 0.3125rem;
  background-color: #fff;
  padding: 0.9375rem;
  border-radius: 0.625rem;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.phones-header__list li:not(:last-child) {
  margin-bottom: 0.4444444444em;
}
.phones-header__callback {
  font-weight: 700;
  line-height: 1.2222222222;
  color: #E8AA31;
  margin: 0.1875rem 0px 0px 0px;
}
@media (any-hover: hover) {
  .phones-header__callback:hover {
    text-decoration: underline;
  }
}

.card-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.9375rem;
     -moz-column-gap: 0.9375rem;
          column-gap: 0.9375rem;
}
.card-header__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 37px;
          flex: 0 0 37px;
  font-size: 2.1875rem;
  position: relative;
}
.card-header__icon span {
  position: absolute;
  width: 0.875rem;
  height: 0.875rem;
  background-color: #E8AA31;
  color: #fff;
  font-size: 0.5rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  right: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.card-header__body {
  line-height: 1.25;
  font-size: 1rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.card-header__summ {
  font-weight: 500;
}
.card-header__summ:not(:last-child) {
  margin-bottom: 0.3125em;
}
.card-header__link {
  color: #E8AA31;
}
@media (any-hover: hover) {
  .card-header__link:hover {
    text-decoration: underline;
  }
}

.catalog-header {
  color: #fff;
  background-color: #141414;
  position: relative;
}
.menu-catalog__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.menu-catalog__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 4.375rem;
  text-align: center;
  padding: 0px 0.625rem;
  position: relative;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}
.menu-catalog__link::after {
  content: "";
  opacity: 0;
  visibility: hidden;
  position: absolute;
  bottom: 0;
  left: 0.625rem;
  height: 1px;
  background-color: #E8AA31;
  width: calc(100% - 1.25rem);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .menu-catalog__link:hover {
    color: #E8AA31;
  }
  .menu-catalog__link:hover::after {
    opacity: 1;
    visibility: visible;
  }
}
.menu-catalog__link._sub-menu-active {
  color: #E8AA31;
}
.menu-catalog__link._sub-menu-active::after {
  opacity: 1;
  visibility: visible;
}
.menu-catalog__sub-menu {
  width: 100%;
  left: 0;
  top: 99%;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
  background-color: #141414;
}

.sub-menu-catalog__block {
  padding-bottom: 1.875rem;
  display: none;
}
.sub-menu-catalog__block_1 {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  grid-template-columns: repeat(1, 1fr);
}
.sub-menu-catalog__block_2 {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  grid-template-columns: repeat(2, 1fr);
}
.sub-menu-catalog__block_3 {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  grid-template-columns: repeat(3, 1fr);
}
.sub-menu-catalog__block_4 {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  grid-template-columns: repeat(4, 1fr);
}
.sub-menu-catalog__block_5 {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  grid-template-columns: repeat(5, 1fr);
}
.sub-menu-catalog__block._sub-menu-open {
  display: grid;
}
.sub-menu-catalog__container {
  padding: 0 0.625rem;
  display: grid;
}
.sub-menu-catalog__category {
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.25;
  padding: 1.875rem 0.9375rem;
}
@media (any-hover: hover) {
  .sub-menu-catalog__category:hover {
    text-decoration: underline;
  }
}
.sub-menu-catalog__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  flex: 1 1 auto;
  padding: 1.875rem 0.9375rem;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.sub-menu-catalog__link {
  font-size: 1rem;
  line-height: 1.25;
}
@media (any-hover: hover) {
  .sub-menu-catalog__link:hover {
    text-decoration: underline;
  }
}
.sub-menu-catalog__all {
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding-top: 1.875rem;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  font-size: 1rem;
  color: #E8AA31;
}
@media (any-hover: hover) {
  .sub-menu-catalog__all:hover {
    text-decoration: underline;
  }
}

.icon-menu {
  display: none;
}
@media (max-width: 47.99875em) {
  .icon-menu {
    display: block;
    position: relative;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30px;
            flex: 0 0 30px;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #fff;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }
  .menu-open .icon-menu span {
    width: 0;
  }
  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}